version: '3.8'
services:
  frontend:
    image: obsidian2612/quoting-system-frontend:latest
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: obsidian2612/quoting-system-backend:latest
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/quotes_db
      - NODE_ENV=production
    ports:
      - "4000:4000"
    depends_on:
      - db

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quotes_db
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: