version: '3.8'
services:
  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - default

  backend:
    build: ./server
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/quotes_db
    ports:
      - "4000:4000"
    depends_on:
      - db
    networks:
      - default
    extra_hosts:
      - "host.docker.internal:192.168.1.251"
    # Run migrations on startup then start the server
    command: >
      sh -c "npx prisma migrate deploy && npm run start"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quotes_db
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:

networks:
  ollama-net:
    external: true
